<!DOCTYPE html>
<html>

<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
	
	<title>iCompare | Home</title>
	
	<link rel='stylesheet' type='text/css' href="{{ url_for('static' ,filename='style.css') }}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
    <script type='text/javascript' src="{{ url_for('static', filename='js/jquery.ba-hashchange.min.js') }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='dynamicpage.js') }}"></script>
</head>

<body>

     <?php include('../header.php'); ?> 

	 <nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">iCompare</a>
		  </div>
		  <ul class="nav navbar-nav">
			<!-- <li class="active"><a href="#">Home</a></li> -->
			<!-- <li><a href="#">Page 1</a></li>
			<li><a href="#">Page 2</a></li> -->
		  </ul>
		  <!-- <div class="search-container">
			<form action="/action_page.php">
			  <input type="text" placeholder="Search.." name="search">
			  <button type="submit"><i class="fa fa-search"></i></button>
			</form>
		  </div> -->
		  <form class="navbar-form navbar-left" action="/action_page.php">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Search" name="search">
			  <div class="input-group-btn">
				<button class="btn btn-default" type="submit">
				  <i class="glyphicon glyphicon-search"></i>
				</button>
			  </div>
			</div>
		  </form>
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			<li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		  </ul>
		</div>
	  </nav>
	 <div id="page-wrap">

        <!-- <header>
		  <h1>LOL</h1> -->
		
		  <nav class="navclass">
		      <ul class="group">
		          <li class="dp"><a href="{{ url_for('home') }}">Home</a></li>
		          <li class="dp"><a href="{{ url_for('about') }}">Products</a></li>
		          <li class="dp"><a href="{{ url_for('contact') }}">Contact</a></li>
		      </ul>
		  </nav>
		</header>
		<div class="row">
			
		<section id="main-content">
		<div id="guts">
		
		  <h2>Home</h2>
		
		  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p> 
		
		  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p> 
		
		</div>
		</section>
		
		
	</div>
	
	<footer>
	  &copy;2010 iCompare
	</footer>
<!-- 
	<?php include('../footer.php'); ?> -->

</body>

</html>