<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCompare | About</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='aboutstyle.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<!-- <img src="Images/logo.png" style="width: 75px; height: 65px;margin:0;"> -->
			<a class="navbar-brand" href="{{ url_for('home') }}">iCompare</a>
		  </div>
		  <ul class="nav navbar-nav">
		  </ul>
		  {% if current_user.is_authenticated %}
		  	<ul class="nav navbar-nav navbar-right">
		  		<li><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		    </ul>
		    {% else %}
			  <ul class="nav navbar-nav navbar-right">
					  <li><a href="{{ url_for('home') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
					  <li><a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					  <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			  </ul>
		   {% endif %}
		</div>
	  </nav>
	  </div>
	  <div class=maincontainer>
		  <h1 style="font-family:Times New Roman;font-weight: bolder;font-size: larger;color:#FFFFFF;">About</h1>
		  <br>
		  <ul>
			  <li>Hey there,thank you for visiting our website.</li>
			  <li>Here you can compare the prices of your favorite phone from different websites and find out the best place to buy it from.</li>
			  <li>We also provide you the future prediction of the cost for the same product so that you know whether it better to buy now or wait for their prices to dip.</li>
			  <li>Press Product on the navigation bar above to take you to the list of products for you to select from.</li>
			  <li>There if you want future prediction press on the next button or you can also select the previous button which will give you a graph based on the previous cost price for the same product.</li>
		  </ul>
		  <br>
	  </div>

</body>
</html>