<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iCompare|Home</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <title>iCompare | Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
      <a class="navbar-brand" href="{{ url_for('home') }}">iCompare</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
        </li>
      </ul>
      {% if current_user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('products') }}"> Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}"><span class="glyphicon glyphicon-home"></span> About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
          </li>
        </ul> 
      {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('products') }}"> Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}"><span class="glyphicon glyphicon-exclamation-sign"></span> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </li>
        </ul>
      {% endif %}
    </div>
  </nav>
  <div class="container mt-5">
    <div class="card-deck">
      <div class="card cardSet1 text-black">
        <div class="card-body">
        <h3 class="class-title" style="text-align: center;">{{ n1_title }}</h3>
        <hr>
        <h5 class="class-subtitle">Subheadline</h5>
        <p>{{ n1_content }}</p>
        
        <button class="button1" style="margin-left: 43.5%;" onclick="location.href='{{ n1_link }}';"><span>Read more </span></button>
      </div>
    </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card-deck">
      <div class="card cardSet1 text-black">
        <div class="card-body">
        <h3 class="class-title" style="text-align: center;">{{ n2_title }}</h3>
        <hr>
        <h5 class="class-subtitle">Subheadline</h5>
        <p>{{ n2_content }}</p>
        
        <button class="button1" style="margin-left: 43.5%;" onclick="location.href='{{ n2_link }}';"><span>Read more </span></button>
      </div>
    </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card-deck">
      <div class="card cardSet1 text-black">
        <div class="card-body">
        <h3 class="class-title" style="text-align: center;">{{ n3_title }}</h3>
        <hr>
        <h5 class="class-subtitle">Subheadline</h5>
        <p>{{ n3_content }}</p>
        
        <button class="button1" style="margin-left: 43.5%;" onclick="location.href='{{ n3_link }}';"><span>Read more </span></button>
      </div>
    </div>
    </div>
  </div>

</body>
</html>