<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products page</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static' ,filename='style.css') }}" />
</head>
<body>      
    <div class="pnames">
        <div>
            <p>Here there are a bunch of products for you to select from.</p>
        </div>
        <nav>
            <ul class="group">
                <li class="dp"><a href="#">Iphone 7</a></li>
                <li class="dp"><a href="#">Iphone 8</a></li>
                <li class="dp"><a href="#">Iphone X</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>